@tailwind base;
@tailwind components;
@tailwind utilities;

.hero_bg {
  background-image: url("/images/neural-bg.jpeg");
  /* background-repeat: no-repeat; */
  background-position: center;
  background-size: contain;
  width: 100vw;
  opacity: 0.8;
  height: 100vh;
}
